name: COMMON DOCKER IMAGE BUILDER

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-15-intel
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Setup Docker on macOS
        id: setup-docker
        uses: douglascamata/setup-docker-macos-action@v1.0.1
        with:
          lima: v1.2.1
          colima: v0.9.1
          colima-network-address: false
      - name: docker login
        run: docker login -u debweassemble -p ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build the Docker image
        run: DOCKER_BUILDKIT=0 docker build . --file Dockerfile --tag debweassemble/spm-devtools:latest
      - name: publish docker image to hub
        run: docker push debweassemble/spm-devtools:latest
